.TodoItem {
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #d1d1d1;
}

.TodoItem > input {
  width: 20px;
}

.TodoItem > .Content {
  flex: 1;
}

.TodoItem > .Date {
  font-size: 14px;
  color: gray;
}

.TodoItem > button {
  font-size: 14px;
  color: white;
  background: gray;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 8px;
}
